/* 
----------------------------------------------------------------------------
name ===========> youssef zouhri
gmail===========>profilede99@gmail.com
phone===========>0641452606
----------------------------------------------------------------------------
 */

:root {
    /* color */
    --blue-c: #1998d3;
    --heading-c: #1998d3;
    --back-box: #1998d314;
    --green-c: #41a592;
    --yelow-c: #f6ce4b;
    --white-c: #fff;
    --blank-overlay: #000000c5;
    --color-p-overly: rgba(255, 255, 255, 0.33);
    --color-p: rgba(0, 0, 0, 0.58);
    /* padding */
    --padding-top: 65px;
    --padding-bottom: 65px;
}